
<div class="headbg">
	<!-- <img class="bg"> -->
</div>
<div class="container">
	<div class="row">
		<h1 class="projectTxt" style="padding:0; margin-bottom:60px">Vishal Sinha</h1>
		<p>Objective: Broad based developer seeking to gain depth with JavaScript technologies (Angular and Node).Scattered brained developer looking for a technology that will finally fit.  Looking for a junior to mid-level deveoper position.</p>
		<div class="col-md-12" style="background-color: rgba(10, 10, 10, 0.5); border: 1px outset; padding:30px;border-radius: 12px;">	
			<!-- <div class="contactPicBorder col-md-3">	
				<img style="margin-top:25px; margin-left:12px" class="img-circle" width="200px" height="200px" src="/css/images/linked.jpg">
			</div> -->
			<div class="col-md-6">
				<p class='imgtxt' style="font-weight: 900;color: white;text-shadow: 0px 2px 10px black;">
					<span style='color:#9E8868'>M</span><span style='color:#323232'>E</span><span style='color:#E52A3A'>A</span><span style='color:#91C44C'>N</span> 
					Stack DEV.
				</p>
				<p class='imgtxt'><a href="mailto:sinhvis@gmail.com"><i class="fa fa-envelope-o"></i></a> <span class='contactText'>&nbsp sinhvis@gmail.com</span></p>
				<p class='imgtxt'><a href="tel:1-312-593-0032"><i class="fa fa-mobile"> </i></a> <span class='contactText'>&nbsp (312) 593-0032</span></p>
				<p class='imgtxt'><a href="https://www.google.com/maps/place/401+Grand+Ave,+Oakland,+CA+94610/@37.808548,-122.2558696,17z/data=!3m1!4b1!4m2!3m1!1s0x808f8746066f8ccd:0xce2c1c296f8f2db8"><i class="fa fa-map-marker"></i> <span class='contactText'>&nbsp Oakland, CA</span></i></p>
			</div>	
		</div>
	</div>
</div>