<div >
	<div class="headbg">
		<!-- <img class="bg"> -->
	</div>

	<h6 id="head">Developer</h6>
	<h3 id="minihead">Back-end and Front-end Applications</h3>

	<div class="container-fluid nopadding">
		<div class="col-md-12 nopadding">
			<div>
				<section>
					<ul id='services'>
						<div></div>
						<li>
							<a target="_blank" href="https://github.com/sinhvis">
								<div class='fa fa-github animated pulse infinite'></div>
							</a>
							<span>Github</span>
						</li>
						<li>
							<a target="_blank" href="https://www.linkedin.com/pub/vishal-sinha/5b/33/148">
								<div class='fa fa-linkedin-square animated pulse infinite'></div>
							</a>
							<span>LinkedIn</span>
						</li>
					</ul>
				</section>
			</div>
		</div>	
	</div>
</div>