<div style="z-index:-9999" class="animated fadeIn">
	<div class="project">
		<h1 class="projectTxt">Projects</h1>
	</div>	
	<div class="container" style="position: relative;bottom: 200px;">
		<div class="row">
			<div class="col-md-12 nonpadding">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #3270c1">
						<h3 style="color:#fff" class="panel-title">
							LeagueForce.us
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<img class="img-responsive" src="/css/images/leagueforce.jpg">
						</div>
						<div class="col-md-6">
							<h1 style="color: #3270c1">League Force</h1>
							<p>A web application in which the user has access to create a league, filling it with data about the  teams, players, and matches. Users can also read newsletters created by the league administrator, message other users, and link social media accounts. Various libraries, frameworks, API's, were used in the course of creating this website such as JavaScript, HTML5, CSS3, Bootstrap, AngularJS, Node.js, Express, MongoDB, Mongoose, Passport.js, Google Maps API, Google Auth API, FaceBook Auth API, and Cloudinary API. </p>
							<br>
							<a><button class="btn btn-info"><a href="http://www.leagueforce.us/">LeagueForce</a></button></a>
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #47C9AF">
						<h3 style="color:white" class="panel-title">
							Swinder
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<img class="img-responsive" src="/css/images/room8.png">
						</div>
						<div class="col-md-6">
							<h1 style="color:#47C9AF">Swinder</h1>
							<p>A web application similar to Tinder, but for swinging couples.  Couples register on the website and put in their preferences.  Matches are shown according to their preferences.  Couples then have access to a messaging system where they can communicate with their matches. Technologies used in developement included JavaScript, HTML5, CSS3, Bootstrap, AngularJS, Node.js, Express, MongoDB, Mongoose and Passport.js. </p>
							<br>
							<a><button class="btn btn-info">View Demo</button></a>
							<span> *Currently working on hosting the app.</span>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #47C9AF">
						<h3 style="color:white" class="panel-title">
							AIMClone
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<img class="img-responsive" src="/css/images/room8.png">
						</div>
						<div class="col-md-6">
							<h1 style="color:#47C9AF">AIMClone</h1>
							<p>A text messaging application where users are able to sign up and send private messages to each other.  Each conversation is kept separate. A history of all conversations between two participants is maintained between sessions.  Participants are able to edit and delete conversations.  Technologies used included JavaScript, HTML5, CSS3, Bootstrap, AngularJS, Node.js, Express, MongoDB, Mongoose, and Passport.js.</p>
							<br>
							<a><button class="btn btn-info">View Demo</button></a>
							<span> *Currently working on hosting the app.</span>
						</div>
					</div>
				</div>



			<!-- 	<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #47C9AF">
						<h3 style="color:white" class="panel-title">
							Room8
						</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<img class="img-responsive" src="/css/images/room8.png">
						</div>
						<div class="col-md-6">
							<h1 style="color:#47C9AF">Room8</h1>
							<p>A web app similar to airBnb, which the user has the ability to post a room for rent, along with the price, photos, google map location, and much more. Users can also post reviews about the room, message the owner or other users, and add a vouch to the owner or other users with the vouch system. Technology used JavaScript, HTML5, CSS3, Bootstrap, AngularJS, Node.js, Express, MongoDB, Mongoose, Passport.js, Google Maps API.</p>
							<br>
							<a><button class="btn btn-info">View Demo</button></a>
							<span> *Currently working on hosting the app.</span>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>