






<div class="headbg">
	<!-- <img class="bg"> -->
</div>


<!-- <iframe class="resume" src="/ViewerJS/#../css/images/VishalResume10172015.pdf" allowfullscreen webkitallowfullscreen></iframe> -->

<!-- <iframe src="/ViewerJS/#../css/images/VishalResume10172015.pdf" frameborder="0" scrolling="no" id="iframe" onload='resizeIframe(this);'></iframe> -->
<!-- <iframe src="/ViewerJS/?zoom=page-width#../css/images/VishalResume10172015.pdf" frameborder="0" scrolling="no" id="iframe" onload='resizeIframe(this);'></iframe> -->
<iframe src="/ViewerJS/?zoom=1.5#../css/images/VishalResume10272015.pdf" frameborder="0" scrolling="no" id="iframe" onload='resizeIframe(this);'></iframe>
